.header{
background-color: #E2DDDF;
border-radius: 30px;
margin: 30px auto;
}

.wrapper{
background-color: #E2DDDF;
border-radius: 30px;
min-width: 160px;
max-width: 960px;
margin: 30px auto;
padding: 30px;
}

.headerLink{
background-color: #3d898d;
color: #2f404d;
padding: 5px;
border-radius: 5px
}

.headerLinkCurrent{
background-color: #85ebd9;
color: #2f404d;
padding: 5px;
border-radius: 5px
}

.headerLink:hover{
background-color: #85ebd9;
}

.gallery{
background-color: #E2DDDF;
border-radius: 30px;
height: 480px;
width: 320px;
margin: 30px auto;
padding: 30px;
display: inline-table;
}

.gallery img{
max-width: 300px;
}

body{
background-color: #B0ACB0;
font-family: sans-serif;
color: #2F404D;
text-align: center;
}

table{
margin: 0 auto;
}

img{
max-width: 640px;
height: auto;
}

p{
text-align: left;
}