.header{
background-color: #E2DDDF;
border-radius: 30px;
margin: 30px auto;
}

.wrapper{
background-color: #E2DDDF;
border-radius: 30px;
min-width: 160px;
max-width: 960px;
margin: 30px auto;
padding: 30px;
}

body{
background-color: #B0ACB0;
font-family: sans-serif;
color: #2F404D;
}

table {
margin: 0 auto;
}

img{
max-width: 640px;
height: auto;
}